@charset "utf-8";
/* CSS Document */
*
{
	margin:0;
	padding:0;
}
/* The mainContainer governs the size of the widget */
.mainContainer
{
	margin:auto;
	width:640px;
	height:880px;
	padding:0px;
	border:none;
	overflow:hidden;
	background-color:#ffffff;
	position:relative;
}
.addBtns
{
	position:relative;
	left:10px;
}
.addBtnsDiv
{
	padding:10%;
	width:60%;
}
.addFormWidth
{
	width:96%;	
}
.alertBox
{
	position:absolute;
	width:60%;
	top:21%;
	left:18%;
	z-index:10;
	border:#039;
	border-width:medium;
}
.arrowR
{
	position:absolute;
	height:36px;
	width:38px;	
	top:20px;
	left:540px;
}
#helpListContainerCG .arrowR
{
	top:8px;
}
.innerAlertBox
{
	margin-top:4%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:10%;
	background-color:#fff;
	padding:6%;
}
.alertSpan
{
	font-size:1.1em;	
}
.arrowLBtn
{
	float:left;
}
body
{
	width:100%;	
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
	overflow:auto;
}
body, p, h1,h2,h3,h4,h5
{
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	text-shadow:none;
}
.bookmarkletSpan
{
	width:33%;
	height:25%;
	postion:absolute;
	top:3px;
	right:4px;
}
#bookmarkScroller
{
	max-height:800px;
	background-color:#fff;
	padding:8px;
	overflow:auto;
}
#bottomSwatchLegend
{
	font:Arial, Helvetica, sans-serif;
	font-size:.8em;
		
}
#bottomSwatchLegendDiv
{
	width:25px;
	height:13px;
	position:absolute;
	top:0px;
	left:28px;	
}
#bottomSwatch
{
	position:relative;
	background-color:#6389b7;
	width:12px;
	min-height:12px;
	margin-top:4px;
	margin-left:10px;
	display:inline-block;
}

.breadCrumbs
{
	text-align:left;
	background-color:#fff;
	margin:0px;
	padding:0px;	
}
.breadCrumbs p 
{
	font-size:.9em;
	color:#000;
	margin:0px;
	padding:0px;
}
.buttonContainer

{
	width:78px;
	background-color:#fff;
	padding:0px;
	height:44px;
	margin-top:4;
	float:left;
}
.buttonContainer2
{
	max-width:24%;
	max-height:24px;
	position:relative;
	padding:0px;
	margin-top:4;
	float:right;
}
#cancel
{
	width:30%;	
}
#captchaReturn
{
	display:none;	
}
#changeP
{
	width:30%
}
.check
{	
	position:absolute;
	left:30%;
	width:16px;
	height:16px;
}
.checkBoxDiv
{
	position:absolute;
	top:0%;
	width:9%;
	height:100%;
	padding:0px;
	border:none;
	margin:0px;
	text-align:center;	
}
#oursListContainer .checkBoxDiv
{
	left:61px;	
}
#yoursListContainer .checkBoxDiv
{
	left:61px;	
}
#copiesListContainer .checkBoxDiv
{
	left:14px;	
}
#searchListContainer .checkBoxDiv
{
	left:8px;	
}
#confirmCopy
{
	height:75%;
	overflow:auto;
}
#comBCStringDiv
{
	float:left;
	width:50%;
}
.comment
{
	margin:0px;
	padding-left:10px;
	padding-top:25px;
	padding-bottom:0px;
	width:92%;
}
.commentVote
{
	width:90%;
	margin-left:5%;
}
.commentPlus
{
	display:inline-block;
	margin:0;
	padding:0;
	width:50%;
}
.commentMinus
{
	display:inline-block;
	margin:0;
	padding:0;
	width:50%;
}
.commentPlus a
{
	font-size:.6em;
	width:100%;
	height:100%;
}
.commentMinus a
{
	font-size:.6em;
	width:100%;
	height:100%;
}
#commentIn
{
	height:85px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	width:96%;
}
.commentDataBar
{
	padding:10px;
	margin:0px;
	overflow:hidden;
}
.commentDataBar p
{
	padding:0px;
	margin:0px;
}
#commentsLastEditorIntro
{
	color:#000000;
	font-weight:normal;
	text-align:left;
	font-size:1em;	
}
#commentsLastEditorString
{
	color:#000000;
	font-weight:bold;
	text-align:left;
	font-size:1em;	
}
.commentText
{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:.9em;
	text-align:left;
}

.commentOwner
{
	color:#CCCC00;
	font-weight:bold;
	text-align:left;
	font-size:.8em;
}
.commentDate
{
	color:#CCCC00;
	font-weight:bold;
	text-align:left;
	font-size:.8em;
}	
.commentSpacer
{
	width:25px;	
}
.contentContainer
{
	padding-right:1%;
	padding-left:1%;
	background-color:#fff;
	height:78%;
	position:relative;
}
#copiesDoneBtn
{
	margin-left:15px;
}
.dataBar
{
	position:relative;
	height:60px;
	margin:0px;
	padding:0px;
	overflow:hidden;
	z-index:0;
}
.dataBarTitle
{
	position:absolute;
	height:100%;
	width:65%;
	overflow:hidden;
	top:0px;
	padding-top:0px;
	padding-left:0;
}
.dataBarTitleP
{
		font-size:1.4em;
		color:#fff;
		margin-top:4%;
}
.dataBarTitle span
{
	height:48px;
	margin:0px;
	padding:0px;
}
#editorTotalDiv
{
	float:right;
	width:50%;
	text-align:right;
}
#copiesListContainer .dataBarTitle
{
	left:65px;	
}
#oursListContainer .dataBarTitle
{
	left:120px;	
}
#yoursListContainer .dataBarTitle
{
	left:120px;	
}
#searchListContainer .dataBarTitle
{
	left:70px;
}
#helpListContainerCG .dataBarTitle
{
	left:50px;
}
.dataBarColor
{
background: #6389b7; /* Old browsers */
background: -moz-linear-gradient(top,  #6389b7 0%, #2880c9 0%, #1e5799 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6389b7), color-stop(0%,#2880c9), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6389b7 0%,#2880c9 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6389b7 0%,#2880c9 0%,#1e5799 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6389b7 0%,#2880c9 0%,#1e5799 100%); /* IE10+ */
background: linear-gradient(top,  #6389b7 0%,#2880c9 0%,#1e5799 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6389b7', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}
.dataBarYellow
{
background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(top,  #fefcea 0%, #fefcea 0%, #f9ed28 0%, #f1da2c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(0%,#fefcea), color-stop(0%,#f9ed28), color-stop(100%,#f1da2c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefcea 0%,#fefcea 0%,#f9ed28 0%,#f1da2c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefcea 0%,#fefcea 0%,#f9ed28 0%,#f1da2c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefcea 0%,#fefcea 0%,#f9ed28 0%,#f1da2c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefcea 0%,#fefcea 0%,#f9ed28 0%,#f1da2c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da2c',GradientType=0 ); /* IE6-9 */	
}
.discussContentContainer
{
	padding-right:1%;
	padding-left:2%;
	background-color:#fff;
	height:86%;
	position:relative;
}
.discussListBox
{
	height:72%;
	background-color:#fff;
	margin-right:2%;
	position:relative;
}
#discussListContainer
{
	
}
#discussListContainerCG 
{
	background-color:#6389de;
}
.displace
{
	position:absolute;
	left:-5000px;	
}
#downloadBtn
{
	width:80%;
	margin-right:auto;
	margin-left:auto;
}
#downloadResult
{
	padding:5%;
	height:60%;
	width:85%;
	margin:auto;
	display:none;
	overflow:auto;
}
#editorName
{
	font-weight:bold;
}
#editTitle
{
	position:absolute;
	top:5px;
	right:5px;	
}
#errorSpan
{
	width:90%;	
}
#favoritesReturn
{
	display:none;
	width:90%;
	height:30%;
	margin-right:auto;
	margin-left:auto;
	overflow:auto;
}
.footerBtns 
{
	width:100%;
	margin-top:14px;
	border:none;
	
}

.footerBtns a
{
	margin:0%;
	padding:0%;
	font-size:5px;
}
.footerBtns .ui-btn-text
{
	font-size:.9em;
	padding:0px;
	margin:0px;
}
#footer
{
	
}
#forgot
{
	width:30%;	
}
#forgotBack
{
	width:110px;
}
.grabBoxDiv
{
	padding:0px;
	border:none;
	margin:0px;	
	width:60px;
	height:60px;
}
.grabBoxDiv a
{
	height:60px;
	width:60px;	
}
.grabBoxDiv .ui-btn-inner{
	position:relative;
}
.grabBoxDiv .ui-btn-inner .ui-icon 
{
	position:absolute;
	top:28%;
	left:28%;
}
h1,h2,h3,h4,h5
{
	font-weight:bold;
}
h3
{
	font-size:1em;
}
.header
{
	padding-right:1%;
	padding-left:1%;
	text-align:left;
	padding-bottom:0px;
	padding-top:4px;
	height:16%;
	background-color:#fff;
	overflow:hidden;
	position:relative;
	
}
#help
{
	background-color:#ffffff;
}
#helpHeader
{
}
#helpContent
{
	height:92%;
}
#helpFile
{
	height:10%;
	padding:15px;
}
#helpListView
{
	overflow:auto;
	height:70%;
}
.helpImage
{
	max-width:100%;
}
.homeBtn
{
float:right;	
}
#helpScrollHandle
{
	width:0px;
}
#introScroller
{
	max-height:800px;
	background-color:#fff;
	padding:8px;
	overflow:auto;
	border:none;
}
#kinn4Scroller
{
	height:97%;
	width:90%;
	margin:0;
	padding:0;
	overflow-y:auto;
	overflow-x:hidden;
	background-color:#fff;
}
#kinn4ScrollStuff
{
	min-height:600px;	
}
#lastEditor
{
	display:none;	
}
.link
{
	display:none;	
}
#linkInput
{
	display:none;
	height:65px;
}
.listBox
{
	height:74%;
	background-color:#fff;
	margin-right:2%;
	position:relative;
}
.listBoxInner
{
	height:100%;
	overflow-y:auto;
	overflow-x:hidden;
}
.logo
{
	background-color:#fff;
	width:100%;
	height:65%;
	position:relative;
}
.logoSpan 
{
	width:70%;
	font-size:5em;
	color:#3C67BF;
	font-family:Arial, Helvetica, sans-serif;
	font-stretch:semi-condensed;	
	text-align:left;
	padding-bottom:0px;
	padding-left:2px;
	text-shadow: 0.02em 0.02em 0.05em #777;
    position:absolute;
    top:18%;
}

.mainNav
{
	height:35%;
	width:100%;
}
.mainNav ul
{
	height:100%;
}

.mainTitle
{
	text-align:left;	
}
.mainTitle p 
{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:2.4em;
	color:#000;
	margin:0px;
	padding:0px;
}
.pageMain
{
	width:100%;
	background-color:#fff;
	border:none;
}
#password
{
	height:20px;
	width:100px;
}
.pitch
{
	width:98%;
	margin-right:auto;
	margin-left:auto;
	padding:3px;
}
#regMain contentContainer
{
    width:94%;
    margin:auto;
}
#signInP .pitch h2
{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:1.9em;
	font-weight:bold;
}
#signInP .pitch h4
{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-weight:lighter;
	font-style:italic;
	font-size:1.3em;
	margin-top:5px;
	margin-bottom:5px;
}
#signInP .pitch span
{
	font-size:1.08em;
}
#signInP .pitch a
{
	text-decoration:none;
}
.orphanColor2
{
background: #f8f800; /* Old browsers */
background: -moz-linear-gradient(top, #f8f800 0%, #f4f400 22%, #f6f600 42%, #e1e100 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f800), color-stop(22%,#f4f400), color-stop(42%,#f6f600), color-stop(100%,#e1e100)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f8f800 0%,#f4f400 22%,#f6f600 42%,#e1e100 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f8f800 0%,#f4f400 22%,#f6f600 42%,#e1e100 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f8f800 0%,#f4f400 22%,#f6f600 42%,#e1e100 100%); /* IE10+ */
background: linear-gradient(to bottom, #f8f800 0%,#f4f400 22%,#f6f600 42%,#e1e100 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f800', endColorstr='#e1e100',GradientType=0 ); /* IE6-9 */
}
.orphanColor
{
background: #ebeeda; /* Old browsers */
background: -moz-linear-gradient(top, #ebeeda 0%, #d2d5bb 50%, #d2d5bb 76%, #b4baa0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebeeda), color-stop(50%,#d2d5bb), color-stop(76%,#d2d5bb), color-stop(100%,#b4baa0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ebeeda 0%,#d2d5bb 50%,#d2d5bb 76%,#b4baa0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ebeeda 0%,#d2d5bb 50%,#d2d5bb 76%,#b4baa0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ebeeda 0%,#d2d5bb 50%,#d2d5bb 76%,#b4baa0 100%); /* IE10+ */
background: linear-gradient(to bottom, #ebeeda 0%,#d2d5bb 50%,#d2d5bb 76%,#b4baa0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebeeda', endColorstr='#b4baa0',GradientType=0 ); /* IE6-9 */
}
#oursDisNav
{
	width:23%;	
}
#oursGoToAdd
{

	width:15%;	
}
#oursCutBtn
{
	width:14%;	
}
#oursCopyBtn
{
	width:21%;	
}
#oursListContainerCG
{
}
#oursPasteBtn
{
	width:18%;	
}
#resetReturn
{
	display:none;	
}
.roundBtn
{
	position:relative;
	float:right;
	height:26px;
	width:46px;
	overflow:hidden;
}
.roundBtn a
{
	width:100%;
}
.roundBtn .ui-btn-inner
{
	height:22px;
	margin-top:0%;
	margin-left:8%;
	overflow:hidden;
}
.roundBtn .ui-btn-text
{
	position:absolute;
	top:12%;
	left:0px;
}
.scrollForm
{
	height:900px;
	background-color:#FFFFFF;
	margin-top:-12px;
	padding-top:0px;
}
#searchBackBtn
{
	display:none;	
}
.searchArrowLDiv
{
	position:absolute;
	height:36px;
	width:38px;	
	top:20px;
	left:505px;
}
#searchLegend
{
	width:100px;
	height:40px;
	background-color:#00f;
	display:inline-block;	
	position:relative;
	padding:0px;
	margin:0px;
	position:relative;
}
#searchLegendTop
{
	width:100%;
	height:20px;
	background-color:#fff;
	display:block;
	border:none;
	margin:0px;	
	padding:0px;
	position:absolute;
	top:0px;
	left:0px;
}
#searchInfoSpan
{
	text-indent:1em;
	margin-left:7px;
}
#searchLegendBottom
{
	width:100%;
	height:50%;
	background-color:#fff;
	display:block;
	margin:0px;
	padding:0px;
	position:absolute;
	top:20px;
	left:0px;
}
#searchAdd .contentContainer
{
	height:85%;
}
.searchResultsContainer
{
	height:65%;
}
#searchListContainer
{
	
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
	height:95%;
	overflow:hidden;
	padding-right:2%;
}
#searchListContainerCG
{
	height:100%;
	width:100%;
	overflow:auto;
}
#searchFooter
{
	position:relative;
}
#searchDoneDiv
{
	position:absolute;
	left:110px;
	top:3px;	
}
#siScroller
{
	height:60%;
	overflow:auto;
}
#siBtns
{
	width:95%;
	margin-right:auto;
	margin-left:auto;
}
#siFieldset
{
	width:100%;
}
#signInDiv
{
	clear:both;
	position:relative;
	top:10px;	
}
#signInSuccess
{
	display:none;
	padding-left:5px;	
}
#signInForm
{
	height:97%;
	width:100%;
	margin:0;
	padding:0;
	overflow:auto;
	background-color:#fff;
}
#signInLogo
{
	background-image:url(images/compass.png);
	background-position:30px -25px;
	background-repeat:no-repeat;
}
#signInNavBar
{
	background-color:transparent;
}
.singleLine
{
	height:55px;	
}
.swoop
{
	position:absolute;
	height:36px;
	width:38px;
	top:20px;
	left:540px;
}
.titleContainer
{
	height:11.5%;
	width:100%;
	background-color:#fff;
	margin:0px;
	overflow-y:hidden;
}
#topSwatch
{
	position:absolute;
	background-color:#daddca;
	width:12px;
	min-height:12px;
	top:4px;
	left:10px;
	display:inline-block;
}
#topSwatchLegendDiv
{
	width:25px;
	height:13px;
	position:absolute;
	top:0px;
	left:28px;	
}
#topSwatchLegend
{
	font:Arial, Helvetica, sans-serif;
	font-size:.8em;	
}
#uploadFormContainer
{
	height:83%;
	width:100%;
}
#username
{
	height:24px;
	width:100px;
	margin-left:12px;
	padding-top:0px;
}
#userN
{
	
	font-size:.9em;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	margin-left:30px;
	padding-left:10px;
	padding-top:1px;
}
#userPW
{
	font-size:.9em;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;	
	margin-top:5px;
}
.ui-overlay-a 
{
	background-image:none;
}
.ui-body-a
{
	background-image:none;
}
#oursYellowDiv
{
	height:2px;
	width:100%;
	background-color:#fd0;
	display:none;
}
#yoursGoToAdd
{
	width:15%;	
}
#yoursCutBtn
{
	width:14%;	
}
#yoursCopyBtn
{
	width:21%;	
}
#yoursPasteBtn
{
	width:18%;	
}
#yoursDisNav
{
	width:22%;	
}
#yoursListContainer
{

}
#yoursListContainerCG
{
}
#yoursLinkInput
{
	display:none;
	height:65px;
}
/* smaller */
@media only screen and (max-height:880px) and (min-width:621px)
{
.mainContainer
{
	margin-right:auto;
	margin-left:auto;
	width:450px;
	height:619px;
	border:none;
	padding:0px; 
	overflow:hidden;
	background-color:#ffffff;
	position:relative;
}
.arrowR
{
	position:absolute;
	height:40px;
	width:40x;	
	top:9px;
	left:370px;
}
#helpListContainerCG .arrowR
{
	top:0px;
}
#helpListContainerCG .dataBarTitle
{
	left:40px;
	top:0px
}
#bookmarkScroller
{
	max-height:575px;	
}
#bookmarklet
{
	height:34px;
}
.breadCrumbs p 
{
	font-size:.9em;
	color:#000;
	margin:0px;
	padding:0px;
}
#oursListContainer .checkBoxDiv
	{
		left:52px;	
	}
	#yoursListContainer .checkBoxDiv
	{
		left:52px;	
	}
	#copiesListContainer .checkBoxDiv
	{
		left:17px;	
	}
#searchListContainer .checkBoxDiv
{
	left:14px;	
}
.dataBar
{
	position:relative;
	height:44px;
	margin:0px;
	padding:0px;
	z-index:0;

}
.dataBarTitle
{
	width:59%;
}
#oursListContainer .dataBarTitle
{
	left:105px;	
}
#yoursListContainer .dataBarTitle
{
	left:105px;	
}
#copiesListContainer .dataBarTitle
{
	left:60px;	
}
#searchListContainer .dataBarTitle
{
	left:60px;
}
#helpListContainerCG .dataBarTitle
{
	left:42px;
}
.header
{

}
.dataBarTitleP
{
	font-size:1em;
	color:#fff;
	margin-top:5%;
}
.dataBarTitle span
{
	height:40px;
	margin:0px;
	padding:0px;	
}
.discussListBox
{
	height:58%;
	background-color:#fff;
	margin-right:2%;
	position:relative;
}
.footerBtns 
{
	width:100%;
	margin-top:6px;
	
}
.grabBoxDiv
{
	width:44px;
	height:44px;
}
.grabBoxDiv a
{
	width:44px;
	height:44px;
}
.grabBoxDiv .ui-btn-inner{
	position:relative;
}
.grabBoxDiv .ui-btn-inner .ui-icon 
{
	position:absolute;
	top:22%;
	left:22%;
}
#introScroller
{
	max-height:575px;	
}
.logo
{
	height:60%;
}
.logoSpan 
{
	font-size:3.8em;
	color:#3C67BF;
	font-family:Arial, Helvetica, sans-serif;
	font-stretch:semi-condensed;	
	text-align:left;
	padding-bottom:5px;
	padding-left:2px;
    top:0%;
}
.mainTitle p 
{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:1.6em;
	color:#000;
	margin:0px;
	padding:0px;
}
.mainNav
{
	height:40%;
}
.pitch h2
{
	font-size:.8em;	
}
.pitch span
{
	font-size:.7em;	
}
.searchArrowLDiv
{
	position:absolute;
	height:40px;
	width:40px;
	top:14px;
	left:450px;
}
#signInLogo
{
	background-image:url(images/compass.png);
	background-position:30px -20px;
	background-repeat:no-repeat;
	background-size:93%;
}
#signInP .pitch h2
{
	font-size:1.4em;
}
#signInP .pitch h4
{
	font-size:.9em;
}
#signInP .pitch span
{
	font-size:.9em;
}
.swoop
{
	position:absolute;
	height:40px;
	width:40px;
	top:9px;
	left:370px;
}
.ui-overlay-a 
{
	background-image:none;
}
.uploaderBtn
{
	display:none;
}
.ui-overlay-a 
{
	background-image:none;
}
.ui-body-a
{
	background-image:none;
}
}
/*smaller kindle*/
@media only screen and (max-height:880px) and (max-width:609px) and (min-width:590px)
{
.mainContainer
{
	margin-right:auto;
	margin-left:auto;
	width:550px;
	height:795px;
	border:none;
	padding:0px; 
	overflow:hidden;
	background-color:#ffffff;
	position:relative;
}
.arrowR
{
	position:absolute;
	height:44px;
	width:44x;	
	top:8px;
	left:440px;
}
#helpListContainerCG .arrowR
{
	top:7px;
}
#helpListContainerCG .dataBarTitle
{
	left:45px;
	top:0px
}
#bookmarkScroller
{
	max-height:575px;	
}
#bookmarklet
{
	height:34px;
}
.breadCrumbs p 
{
	font-size:.9em;
	color:#000;
	margin:0px;
	padding:0px;
}
#oursListContainer .checkBoxDiv
	{
		left:58px;	
	}
	#yoursListContainer .checkBoxDiv
	{
		left:58px;	
	}
	#copiesListContainer .checkBoxDiv
	{
		left:20px;	
	}
#searchListContainer .checkBoxDiv
{
	left:16px;	
}
.dataBar
{
	position:relative;
	height:50px;
	margin:0px;
	padding:0px;
	z-index:0;

}
.dataBarTitle
{
	width:59%;
}
#oursListContainer .dataBarTitle
{
	left:115px;	
}
#yoursListContainer .dataBarTitle
{
	left:115px;	
}
#copiesListContainer .dataBarTitle
{
	left:60px;	
}
#searchListContainer .dataBarTitle
{
	left:60px;
}
#helpListContainerCG .dataBarTitle
{
	left:45px;
}
.header
{

}
.dataBarTitleP
{
	font-size:1em;
	color:#fff;
	margin-top:5%;
}
.dataBarTitle span
{
	height:42px;
	margin:0px;
	padding:0px;	
}
.discussListBox
{
	height:58%;
	background-color:#fff;
	margin-right:2%;
	position:relative;
}
.footerBtns 
{
	width:100%;
	margin-top:6px;
	
}
.grabBoxDiv
{
	width:50px;
	height:50px;
}
.grabBoxDiv a
{
	width:50px;
	height:50px;
}
.grabBoxDiv .ui-btn-inner{
	position:relative;
}
.grabBoxDiv .ui-btn-inner .ui-icon 
{
	position:absolute;
	top:22%;
	left:22%;
}
#introScroller
{
	max-height:575px;	
}
.logo
{
	height:60%;
}
.logoSpan 
{
	font-size:3.9em;
	color:#3C67BF;
	font-family:Arial, Helvetica, sans-serif;
	font-stretch:semi-condensed;	
	text-align:left;
	padding-bottom:5px;
	padding-left:2px;
}
.mainTitle p 
{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:1.7em;
	color:#000;
	margin:0px;
	padding:0px;
}
.mainNav
{
	height:40%;
}
.pitch h2
{
	font-size:.8em;	
}
.pitch span
{
	font-size:.7em;	
}
.searchArrowLDiv
{
	position:absolute;
	height:44px;
	width:44px;
	top:8px;
	left:405px;
}
#signInLogo
{
	background-image:url(images/compass.png);
	background-position:30px -20px;
	background-repeat:no-repeat;
	background-size:93%;
}
#signInP .pitch h2
{
	font-size:1.5em;
}
#signInP .pitch h4
{
	font-size:.9em;
}
#signInP .pitch span
{
	font-size:.9em;
}
.swoop
{
	position:absolute;
	height:44px;
	width:44px;
	top:8px;
	left:440px;
}
.ui-overlay-a 
{
	background-image:none;
}
.uploaderBtn
{
	display:none;
}
.ui-overlay-a 
{
	background-image:none;
}
.ui-body-a
{
	background-image:none;
}7
}
/* smallest */
@media only screen and (max-device-width:500px){
.mainContainer
{
	margin-right:auto;
	margin-left:auto;
	width:320px;
	height:440px;
	border:none;
	padding:0px;
	overflow:hidden;
	background-color:#ffffff;
}
.arrowR
{
	position:absolute;
	height:36px;
	width:38px;	
	top:8px;
	left:272px;
}
#helpListContainerCG .arrowR
{
	top:2px;
}
#bookmarklet
{
	height:20px;
}
#bookmarkScroller
{
	max-height:375px;	
}
.breadCrumbs p 
{
	font-size:.7em;
	color:#000;
	margin:0px;
	padding:0px;
}
	#oursListContainer .checkBoxDiv
	{
		left:45px;	
	}
	#yoursListContainer .checkBoxDiv
	{
		left:45px;	
	}
	#copiesListContainer .checkBoxDiv
	{
		left:14px;	
	}
	#searchListContainer .checkBoxDiv
	{
		left:14px;	
	}
.dataBar
{
	position:relative;
	height:44px;
	margin:0px;
	padding:0px;
	z-index:0;

}
.dataBarTitle
{
	width:62%;
}
.dataBarTitleP
{
	font-size:.85em;
	color:#fff;
	margin-top:8%;
}
.dataBarTitle span
{
	height:40px;
	margin:0px;
	padding:0px;	
}
	#copiesListContainer .dataBarTitle
	{
		left:55px;	
		width:61%;
	}
	#searchListContainer .dataBarTitle
	{
		left:55px;
	}
	#helpListContainerCG .dataBarTitle
	{
		left:55px;
	}
.discussListBox
{
	height:53%;
	background-color:#fff;
	margin-right:2%;
	position:relative;
}
.footerBtns 
{
	width:100%;
	margin-top:6px;
	
}
.footerBtns .ui-btn-text
{
	font-size:.8em;
	padding:0px;
	margin:0px;
}
.grabBoxDiv
{
	width:44px;
	height:44px;
}
.grabBoxDiv a
{
	width:44px;
	height:44px;
}
.grabBoxDiv .ui-btn-inner{
	position:relative;
}
.grabBoxDiv .ui-btn-inner .ui-icon 
{
	position:absolute;
	top:22%;
	left:22%;
}
#helpScrollHandle
{
	width:20%;
}
#introScroller
{
	max-height:375px;	
}
.logo
{
	height:53%;
}
.logoSpan 
{
	font-size:2.3em;
	color:#3C67BF;
	font-family:Arial, Helvetica, sans-serif;
	font-stretch:semi-condensed;	
	text-align:left;
	padding-bottom:0px;
	padding-left:2px;
    top:6%
}
.mainNav
{
	height:47%;
}
.mainTitle p 
{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:1.2em;
	color:#000;
	margin:0px;
	padding:0px;
}
.pitch h2
{
	font-size:.9em;	
}
.pitch span
{
	font-size:.75em;	
}
#signInP .pitch h2
{
	font-size:.95em;
}
#signInP .pitch h4
{
	font-size:.8em;
}
#signInP .pitch span
{
	font-size:.8em;
	line-height:.6em;
}
#signInForm .pitch
{
}
#signInLogo
{
	background-position:10px -10px;
}
.searchResultsContainer
{
	height:45%;
}
.searchArrowLDiv
{
	position:absolute;
	height:36px;
	width:36px;
	top:8px;
	left:235px;
}
.swoop
{
	position:absolute;
	height:36px;
	width:38px;
	top:8px;
	left:272px;
}
#oursListContainer .dataBarTitle
{
	left:86px;	
}
.uploaderBtn
{
	display:none;
}
.ui-overlay-a 
{
	background-image:none;
}
.ui-body-a
{
	background-image:none;
}
#yoursListContainer .dataBarTitle
{
	left:86px;	
}
}