<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.kinnective.main"
        versionCode = "10" 
        version     = "1.0.3" >

    <!-- versionCode is optional and Android only -->

    <name>Kinnective for Android Test1</name>

    <description>
        The bookmarks manager for your mobile, social world. 
    </description>

    <author href="http://www.kinnective.com" email="ak@lenehan.org">
        Dan and Art Lenehan 
    </author>
    <icon src="icons/android/kinnldpi_launcher" gap:platform="android" gap:density="ldpi" />
    <icon src="icons/android/kinnmdpi_launcher" gap:platform="android" gap:density="mdpi" />
    <icon src="icons/android/kinnhdpi_launcher" gap:platform="android" gap:density="hdpi" />
    <icon src="icons/android/kinnxhdpi_launcher" gap:platform="android" gap:density="xhdpi" />
    <icon src="icons/android/kinnxxhdpi_launcher" gap:platform="android" gap:density="xxhdpi" />
</widget>